---
BasedOnStyle: InheritParentConfig
IncludeCategories:
  - Regex:           '^("|<)csrc_dipu/.*'
    Priority:        9
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^("|<)diopi/.*'
    Priority:        8
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^("|<)(c10|aten|torch).*'
    Priority:        4
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^("|<)(pybind11|Python\.h|frameobject.\h).*'
    Priority:        5
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^<((ext/.*)|pthread)\.h.*'
    Priority:        2
    SortPriority:    1
    CaseSensitive:   false
  - Regex:           '^("|<)(cuda|su|cn|(..?ccl)|(.*_runtime)).*\.h.*'
    Priority:        3
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^<.*'
    Priority:        2
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '.*'
    Priority:        10
    SortPriority:    0
    CaseSensitive:   false
